
    div.chapter-title-decoration-above {
        display: none;
    }



    div.chapter-title-decoration-below {
        display: none;
    }



    div.decoration-scene-break {
        display: none;
    }



    img.chapter-title-corner-decoration-left {
        display: none;
    }



    img.chapter-title-corner-decoration-right {
        display: none;
    }



    .chapter-title-corner-decorations {
        display: none;
    }








