#ja-main {
  float: left;
}

#bookInfo {
  float: left;
}

#bookDetails img {
  float: right;
}

#bookDet p {
  text-align: left;
}

#bookIndex {
  float: left;
}

#bookIndex li{margin-right: 0;}
#bookIndex li.indent1 {margin-left: 0px;}
#bookIndex li.indent2 {margin-left: 10px;}
#bookIndex li.indent3 {margin-left: 20px;}
#bookIndex li.indent4 {margin-left: 30px;}
#bookIndex li.indent5 {margin-left: 40px;}
#bookIndex li.indent6 {margin-left: 50px;}

#infoHeader {
  float: left;
}

#infoHeader ul li {
  float: left;
  border-radius: 5px 5px 0 0;
  width: 75px;
}

#bookControl {
  float: right;
  right: 0 !important;
  left: auto;
}

#bookContent {
  float: right;
  border-left: 1px #222 solid;
  border-right: none;
}

#bookContent .page {
  float: left;
}

.page .pageContent {
  float: left;
}

.page p {
}

.page .pageNum {
  float: left;
}

ul.buttons {
  float: left;
  right: 300px;
}

ul.buttons li {
  float: left;
}

ul.buttons li.separator {
  border-left: 1px #888 solid;
  border-right: none;
}